---
layout: default
title: seoul
---

<a name="top"></a>

{% include component/neighborhood.html name="Namsan" description="Namsan is a 860 ft peak in the Jung-gu district of south-central Seoul, Korea. Known as Mount Mongmyeok in the past, it is now commonly referred to as Namsan (lit. \"South Mountain\"). It offers hiking, recreation, and views of downtown Seoul's skyline. The N Seoul Tower is located on top of Namsan. It is also the location of a smoke signal station called Mongmyeoksan Bongsudae, which was part of an emergency communication system until 1985." %}

{% include component/neighborhood.html name="Sinchon" description="Sinchon is a region surrounding Sinchon-dong, Changcheon-dong, Nogosan-dong and Daeheung-dong. It is known for its numerous universities including Yonsei University, Ewha Womans University, Sogang University, Hongik University, and Myongji University. Sinchon's other primary attraction is its nightlife, with numerous bars of both western style and traditional Korean hofs, restaurants, and other activities aimed at the area's student population." %}

{% include component/neighborhood.html name="Jongno" description="Jongno District has been the center of Seoul for 600 years, and is commonly referred to as the face and heart of Korea because of its important roles in the politics, economics, culture, and history as the capital city. Jongno District is home to palaces in which the kings used to reside and work, such as Gyeongbok Palace, Changdeok Palace,Changgyeong Palace and Unhyeon Palace. The South Korean president's current residence, the Cheongwadae, is also located in Jongno." %}

{% include component/neighborhood.html name="Apgujeong" description="Apgujeong is an upmarket residential, fashion, shopping, and educational area that originated as a market by the same name founded by Han Myung-hoi, a high-ranking government official during the Joseon dynasty. The Hanja name translates into \"Disrespectful Seagull Pavilion,\" a reference to his nickname, which itself was a reference and a mark of his arrogance to his seemingly unlimited power he gained under King Sejo while he continued to pose as a servant, similar to the position of a high-flying seagull that lands when it needs to." %}


